.navigation-bar {
    background: #0052cc;
    text-align: center;
    padding: 10px 10px 10px 10px;
    line-height: 2.5;
    border-radius: 30px;
    overflow: auto;
    font-weight: bold
}

.navigation-bar a {
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 5px;
    color: white;
    font-style: ;
}

.navigation-bar a:hover {
    background: #bfbfbf;
}

.navigation-bar .loggedInUser {
    float: right;
    color: white;
    margin-right: 50px;
}
