.App {
}

#infoBox, #errorBox, #loadingBox {
  width: 80%;
  margin: 10px auto;
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 3px;
  display: none;
  cursor: pointer;
}

#loadingBox {
  background: #7CB3E9;
}
#infoBox {
  background: #393;
}
#errorBox {
  background: #F50;
}

#main {
  margin: 0 10px 20px 10px;
}

table th {
  background: #DDD;
  padding: 10px;
}

table td {
  padding: 5px 10px;
  background: #EEE;
}

.login-form input{
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
.login-form input:focus,
.login-form input.focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

.register-form input{
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
.register-form input:focus,
.register-form input.focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

form {
  text-align: center;
}

form div{
  padding: 5px;
}

div h1{
  text-align: center;
  font-size: 300%;
}

div p{
  text-align: center;
  font-size: 100%;
}
