.App {
}

#infoBox, #errorBox, #loadingBox {
  width: 80%;
  margin: 10px auto;
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 3px;
  display: none;
  cursor: pointer;
}

#loadingBox {
  background: #7CB3E9;
}
#infoBox {
  background: #393;
}
#errorBox {
  background: #F50;
}

#main {
  margin: 0 10px 20px 10px;
}
img {
  height: 40px;
  width: 80px;
}
table {
  margin-left:auto;
  margin-right:auto;
  width: 80%;
}
input[type=button] {
  background-color: white;
  color: black;
  border: 2px solid black;
}
input[type=button]:hover {
  background-color: #ccff99;
}

table th {
  background: #DDD;
  padding: 10px;
  height:30px;
  border-radius:5px 5px 5px 5px;
  border-bottom-width: 5px;
  border-bottom-style:solid;
}

table td {
  padding: 5px 10px;
  background: #EEE;
}

.login-form input{
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
.login-form input:focus,
.login-form input.focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

.register-form input{
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
.register-form input:focus,
.register-form input.focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

form {
  text-align: center;
}

form div{
  padding: 5px;
}

div h1{
  text-align: center;
  font-size: 300%;
  text-transform: uppercase;
  text-shadow: 0 3px 3px black;
}

div p{
  text-align: center;
  font-size: 100%;
}

.see-more img{
  width:304px;
  height:228px;
  padding: 30px;
}

table td img{
  width:200px;
  height:120px;
}
